{% load static %} 
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %} {% endblock head_title %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/mensajes.css' %}">
    <link rel="stylesheet" href="{% static 'css/spiner.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" integrity="sha384-l8f0VcPi/M1iHPv8egOnY/15TDwqgbOR1anMIJWvU6nLRgZVLTLSaNqi/TOoT5Fh" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.5/purify.min.js" integrity="sha512-JatFEe90fJU2nrgf27fUz2hWRvdYrSlTEV8esFuqCtfiqWN8phkS1fUl/xCfYyrLDQcNf3YyS0V9hG7U4RHNmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{% static "js/mensajes.js" %}"></script>
    <script defer src="{% static "js/modal.js" %}"></script>
    {% block javascript %} {% endblock javascript %}
  </head>
  <body class="min-h-dvh">
    {% include "components/header/header.html" %}
    {% block content %} {% endblock content %}
  </body>
</html>
